# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.coverage

# Distribution / packaging
bin/
build/
dist/
*.egg-info/

# Vscode project specific settings
.vscode 

# Virtual environments
venv/
